body {
  margin: 0;
  padding: 0;
  background: rgb(0, 212, 255);
  background: linear-gradient(
    180deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(224, 250, 255, 1) 44%,
    rgba(255, 255, 255, 1) 100%
  );
}
h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: rgba(2, 82, 82, 0.89);
  width: 130%;
  height: 35px;
  margin-top: 2px;
  padding-left: 4%;
  margin-left: -9%;
}
h3 a {
  color: white;
  text-decoration: none;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 255, 255, 0.37);
  width: 100%;
  margin-top: 15px;
  padding-left: 4%;
  margin-left: -2%;
}
#contenedor {
  background-color: #f2f2f2;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
#cabecera {
  background-image: url(./img/cabecera.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#logo {
  margin-left: -20px;
}
#buscador {
  margin-top: 20px;
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin-right: -20vh;
}
#cabecera a {
  color: white;
}
#menu {
  background-color: rgb(0, 0, 99);
  height: 56px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
ul {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: -2 px;
  margin-left: -40px;
  list-style: none;
}
#menu li {
  background-color: blue;
  width: 130px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  margin-left: 2px;
}
#menu li a {
  color: white;
  text-decoration: none;
}
#menu li:hover {
  background-color: rgb(255, 255, 255);
}
#menu li:hover a {
  color: orangered;
}
.articulo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  width: 90%;
  padding: 15px;
  margin-top: 20px;
  background: rgb(224, 250, 255);
  background: radial-gradient(
    circle,
    rgba(224, 250, 255, 1) 88%,
    rgba(156, 221, 235, 1) 100%,
    rgb(58, 58, 58) 100%
  );
  border-radius: 10px;
}
#principal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: white;
}
#contenido {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: white;
}
#secundario {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
#sobremi {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  border-radius: 10px;
}
#categorias {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  margin-left: 20px;
}
#categorias li::before {
  content: "";
  display: inline-block;
  background-image: url(./img/icono_categoria.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto; /* O ajusta según tus necesidades */
  height: 10px; /* Ajusta la altura según tus necesidades */
  width: 10px; /* Ajusta el ancho según tus necesidades */
  margin-right: 10px; /* O ajusta el margen según tus necesidades */
  filter: grayscale(100%);
}

#categorias li:hover::before {
  background-image: url(./img/icono_elemento_seleccionado.gif); /* Cambia la ruta a la imagen deseada */
  filter: grayscale(0%);
  visibility: visible;
}
#categorias li {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  width: 200%;
  height: 30px;
  background-color: turquoise;
}

#archivo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  background-color: white;
  border-radius: 10px;
  margin-left: 20px;
}
#enlaces {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  margin-left: 10px;
}
.fecha::before {
  content: "";
  display: inline-block;
  background-image: url(./img/icono_fecha.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  height: 10px;
  width: 10px;
  margin-right: 5px;
}
.categoria::before {
  content: "";
  display: inline-block;
  background-image: url(./img/icono_categoria.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  height: 10px;
  width: 10px;
  margin-right: 5px;
}
.autor::before {
  content: "";
  display: inline-block;
  background-image: url(./img/icono_autor.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  height: 10px;
  width: 10px;
  margin-right: 5px;
}
.comentarios::before {
  content: "";
  display: inline-block;
  background-image: url(./img/icono_comentarios.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  height: 10px;
  width: 10px;
  margin-right: 5px;
}
.info {
  border-bottom: rgba(156, 221, 235, 1) 1px solid;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
}
.fotito {
  display: flex;
  flex-direction: row;
}
.fotito img {
  width: 90px;
  height: 90px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
