*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
header {
  border: 2px solid red;
  width: 92%;
  padding: 0 2% 2%;
  margin: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  width: 90%;
  height: 30px;
  border: 1px solid black;
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cuerpo {
  width: 92%;
  padding: 0 2% 2%;
  margin-left: 2%;
  height: 400px;
  display: flex;
  flex-direction: row;
}
aside {
  border: 2px solid rgb(0, 0, 255);
  width: 20%;
  padding: 0 2% 2%;
  margin-left: 2%;
  height: 400px;
}
section {
  border: 2px solid violet;
  width: 65%;
  padding: 0 2% 2%;
  margin-left: 2%;
  height: 420px;
  display: flex;
}
#principal {
  border: 2px solid rgb(0, 0, 255);
  width: 80%;
  padding: 0 2% 2%;
  margin: 2%;
  height: 400px;
}
#secundaria {
  border: 2px solid rgb(0, 0, 255);
  width: 25%;
  padding: 0 2% 2%;
  margin: 2%;
  height: 400px;
}
footer {
  border: 2px solid rgb(243, 236, 139);
  width: 92%;
  padding: 0 2% 2%;
  margin: 2%;
}
